<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootdemo.demo1118.mapper.DemoMapper">
    <select id="list" parameterType="string" resultType="string">
        select dept_name from dept where dept_no = #{id}
    </select>
    <insert id="insertOne">
        insert into dept (dept_no,dept_name,db_source) values(7,"name77","ceshi77")
    </insert>
</mapper>